/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

/* banner style */
.banner {
    background: #594a4a;
    border-radius: 30px;
    padding: 30px 30px;
    margin-top: 21px;
}

.banner-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.banner-info a {
    text-decoration: none;
}

.banner-image img {
    /* width: 581px;
    height: 613px; */

}