/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

/* banner style */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #594a4a;
    border-radius: 30px;
    padding: 30px 30px;
    margin-top: 21px;
}

.banner-detail {

    align-items: center;
}

.banner-info {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}



.btn span.icon {
    width: 10px;
    height: 40px;
}

.banner-image img {
    width: 581px;
    height: 613px;

}

/* banner end */



/* sidebar and  blogs*/

.main-container {
    display: flex;
    margin-top: 20px;
}

/* ----------------------
The side menu
-------------------------- */

.sidecard {
    display: inline;
    margin: 0px;
    padding: 10px;
    width: 250px;
    background-color: #b6da5c;
    /* position: fixed; */
    height: 250px;
    /* overflow: auto; */
}



/* Sidecard links */
.sidecard a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

/* Active/current link */
.sidecard a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidecard a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*------------------
 blogs style
 ------------------ */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    grid-row-gap: 24px;
    margin-top: 10px;
}

.blog {
    margin: 10px;
}

.course-info {
    display: flex;
    gap: 20px;
}

/* ----------
footer style  
---------------*/

footer {
    background-color: #a66060;

}

.footer-heading {
    text-align: center;
}


.list-item {
    display: flex;

}

.social-icon {
    display: flex;
    gap: 10px;

}

/* -------------------
Media Queries
------------------- */

/* Mobile device */
@media only screen and (max-width:688px) {

    .banner-image img {
        width: 100%;
    }



    .container {
        width: 100%;
        flex-direction: column;
    }

    .banner {
        background-color: #04AA6D;
        flex-direction: column;

    }



    .main-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        background-color: rgb(203, 224, 217);

    }

    .blogs {
        margin: 10px;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .list-item {
        flex-direction: column;

    }

    .social-icon {
        flex-direction: column;
    }


}

/* tablet device */

@media only screen and (min-width:689) and (max-width:992) {


    .banner-image img {
        width: 100%;
    }



    .container {
        width: 100%;
        flex-direction: column;
    }

    .banner {
        background-color: #04AA6D;
        flex-direction: column;

    }



    .main-container {
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        background-color: rgb(203, 224, 217);

    }

    .blogs {
        margin: 10px;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .list-item {
        flex-direction: column;

    }

    .social-icon {
        flex-direction: column;
    }
}